.newsletter {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 1024px) {
    flex-direction: row;
    min-height: calc(100vh - 90px);
    justify-content: space-between;
  }
  &__content {
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    @media all and (min-width: 768px) {
      margin-top: 75px;
      margin-bottom: 45px;
    }
    @media all and (min-width: 1024px) {
      margin-top: 87px;
      margin-bottom: 0;
    }
    @media all and (min-width: 1280px) {
      margin-top: 50px;
      margin-bottom: 100px;
      padding-right: 50px;
    }
  }
  &__message {
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: map-get($colors, 'primary');
    padding: 0 23px;
    @media all and (min-width: 768px) {
      max-width: 400px;
    }
    > * {
      margin-bottom: 0;
      font-size: map-get($fontSizes, 'regular');
    }
  }
    &__message-green {
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #338a03;
    padding: 0 23px;
    @media all and (min-width: 768px) {
      max-width: 400px;
    }
    > * {
      margin-bottom: 0;
      font-size: map-get($fontSizes, 'regular');
    }
  }
  &__video {
    flex: 1;
    background-image: url("../../images/newsletter/phones-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    @media all and (min-width: 768px) {
      background-size: contain;
    }
    @media all and (min-width: 1024px) {
      display: block;
      background-image: none;
      background-position: 0 180px;
    }
    &--mobile {
      display: block;
      height: 350px;
      background-position: left;
      @media all and (min-width: 768px) {
        background-position: left;
        height: 560px;
      }
      @media all and (min-width: 1024px) {
        display: none;
      }
    }
  }
  &__form-wrapper {
    margin-bottom: 40px;
    @media all and (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media all and (min-width: 1024px) {
      margin-bottom: 67px;
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 142px;
    }
    h1 {
      font-family: map-get($fontFaces, 'primary-bold');
      font-size: map-get($fontSizes, '2xl');
      margin-bottom: 18px;
      @media all and (min-width: 768px) {
        font-size: map-get($fontSizes, '4xl');
        margin-bottom: 16px;
      }
      @media all and (min-width: 1024px) {
        font-size: map-get($fontSizes, '3xl');
        margin-bottom: 23px;
      }
      @media all and (min-width: 1280px) {
        font-size: map-get($fontSizes, '4xl');
        margin-bottom: 16px;
      }
    }

    p {
      font-family: map-get($fontFaces, 'primary');
      font-size: map-get($fontSizes, 'regular');
      margin-bottom: 33px;
      @media all and (min-width: 768px) {
        font-size: map-get($fontSizes, 'lg');
        margin-bottom: 38px;
      }
    }
  }
  &__form {
    input {
      border-radius: 0!important;
    }
    ._form {
      padding: 0!important;
      margin: 0!important;
      width: 100%!important;
      @media all and (min-width: 768px) {
        width: 400px!important;
      }
    }
    ._form-label {
      display: none!important;
    }
    ._form-content {
      width: 100%!important;
      display: flex;
      height: 60px;
    }
    ._form-branding, ._clear-element {
      display: none!important;
    }
    ._form_element {
      margin-bottom: 0!important;
      flex: 0 0 65%!important;
    }
    ._field-wrapper {
      height: 100%!important;
      input {
        background-color: map-get($greyscale, 'regular');
        color: #000!important;
        height: 100%!important;
        border: none!important;
        font-size: map-get($fontSizes, 'regular')!important;
        font-family: map-get($fontFaces, 'primary')!important;
        padding: 0 23px!important;
        &::placeholder {
          color: #000!important;
        }
      }
    }
    ._submit {
      height: 100%;
      width: 100%;
      font-size: map-get($fontSizes, 'regular')!important;
    }
    ._form-thank-you {
      text-align: left!important;
      font-family: map-get($fontFaces, 'primary')!important;
      font-size: map-get($fontSizes, 'regular')!important;
    }
  }
  &__list {
    p {
      text-indent: -24px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
    a {
      display: block;
      font-size: map-get($fontSizes, 'xl');
      font-family: map-get($fontFaces, 'primary-bold');
      position: relative;
      margin-top: 32px;
      &:after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: map-get($colors, 'primary');
      }
    }
  }
  &__drawer {
    @include el-drawer;
    &.scrolled {
      .newsletter {
        &__drawer-header {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.5s ease;
        }
      }

    }
  }
  &__drawer-header {
    position: fixed;
    width: 100%;
    height: 63px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    transition: all 0.5s ease;

    @media all and (min-width: 768px) {
      width: 593px;
      padding: 0 75px 0 60px;
    }

    .header-left {
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        &:first-child {
          font-size: 25px;
        }
        &:last-child {
          width: 25px;
          font-size: 8px;
          margin-left: 5px;
        }
      }
    }
    .header-right {
      .close-icon {
        cursor: pointer;
        width: 21px;
        height: 21px;
        background-image: url("../../images/icons/closeIcon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  &__drawer-content {
    padding: 63px 25px 25px 25px;
    @media all and (min-width: 768px) {
      padding: 63px 60px 60px 60px;
    }
    .mobile-content {
      display: block;
      margin: 0 auto;
      @media all and (min-width: 768px) {
        display: none;
      }
    }
    .desktop-content {
      display: none;
      @media all and (min-width: 768px) {
        display: block;
      }
    }
  }
}